<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>Description</key>
	<string>An template framework </string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>SortOrder</key>
	<string>4</string>
	<key>Summary</key>
	<string>An template framework </string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Class:</string>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>MainTemplateFile</key>
			<string>___FILEBASENAME___.m</string>
			<key>Default</key>
			<string>NSObject</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>FallbackHeader</key>
			<string>#import &lt;UIKit/UIKit.h&gt;</string>
			<key>Identifier</key>
			<string>cocoaSubclass</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>class</string>
		</dict>
	</array>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
</dict>
</plist>
