<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FuLingOnline-CheerforAndLearning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NotificationContentExtensionContentFeedback.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>NotificationContentExtensionDefault.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>NotificationContentExtensionDefaultHidden.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>NotificationServiceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B90CD9941E76468C00278EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90CD9A51E76475200278EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90CD9BC1E76476600278EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90CD9D11E76477600278EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D854B11DAC8BE2001AD79C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D854CA1DAC8BE2001AD79C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9D854D51DAC8BE2001AD79C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
