<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smiley_0</key>
	<string>微笑</string>
	<key>smiley_1</key>
	<string>撇嘴</string>
	<key>smiley_2</key>
	<string>色</string>
	<key>smiley_3</key>
	<string>发呆</string>
	<key>smiley_4</key>
	<string>得意</string>
	<key>smiley_5</key>
	<string>流泪</string>
	<key>smiley_6</key>
	<string>害羞</string>
	<key>smiley_7</key>
	<string>闭嘴</string>
	<key>smiley_8</key>
	<string>睡</string>
	<key>smiley_9</key>
	<string>大哭</string>
	<key>smiley_10</key>
	<string>尴尬</string>
	<key>smiley_11</key>
	<string>发怒</string>
	<key>smiley_12</key>
	<string>调皮</string>
	<key>smiley_13</key>
	<string>呲牙</string>
	<key>smiley_14</key>
	<string>惊讶</string>
	<key>smiley_15</key>
	<string>难过</string>
	<key>smiley_16</key>
	<string>酷</string>
	<key>smiley_17</key>
	<string>冷汗</string>
	<key>smiley_18</key>
	<string>抓狂</string>
	<key>smiley_19</key>
	<string>吐</string>
	<key>smiley_20</key>
	<string>偷笑</string>
	<key>smiley_21</key>
	<string>可爱</string>
	<key>smiley_22</key>
	<string>白眼</string>
	<key>smiley_23</key>
	<string>傲慢</string>
	<key>smiley_24</key>
	<string>饥饿</string>
	<key>smiley_25</key>
	<string>困</string>
	<key>smiley_26</key>
	<string>惊恐</string>
	<key>smiley_27</key>
	<string>流汗</string>
	<key>smiley_28</key>
	<string>憨笑</string>
	<key>smiley_29</key>
	<string>大兵</string>
	<key>smiley_30</key>
	<string>奋斗</string>
	<key>smiley_31</key>
	<string>咒骂</string>
	<key>smiley_32</key>
	<string>疑问</string>
	<key>smiley_33</key>
	<string>嘘</string>
	<key>smiley_34</key>
	<string>晕</string>
	<key>smiley_35</key>
	<string>折磨</string>
	<key>smiley_36</key>
	<string>衰</string>
	<key>smiley_37</key>
	<string>骷髅</string>
	<key>smiley_38</key>
	<string>敲打</string>
	<key>smiley_39</key>
	<string>再见</string>
	<key>smiley_40</key>
	<string>擦汗</string>
	<key>smiley_41</key>
	<string>抠鼻</string>
	<key>smiley_42</key>
	<string>鼓掌</string>
	<key>smiley_43</key>
	<string>糗大了</string>
	<key>smiley_44</key>
	<string>坏笑</string>
	<key>smiley_45</key>
	<string>左哼哼</string>
	<key>smiley_46</key>
	<string>右哼哼</string>
	<key>smiley_47</key>
	<string>哈欠</string>
	<key>smiley_48</key>
	<string>鄙视</string>
	<key>smiley_49</key>
	<string>委屈</string>
	<key>smiley_50</key>
	<string>快哭</string>
	<key>smiley_51</key>
	<string>阴险</string>
	<key>smiley_52</key>
	<string>亲亲</string>
	<key>smiley_53</key>
	<string>吓</string>
	<key>smiley_54</key>
	<string>可怜</string>
	<key>smiley_55</key>
	<string>菜刀</string>
	<key>smiley_56</key>
	<string>西瓜</string>
	<key>smiley_57</key>
	<string>啤酒</string>
	<key>smiley_58</key>
	<string>篮球</string>
	<key>smiley_59</key>
	<string>乒乓</string>
	<key>smiley_60</key>
	<string>咖啡</string>
	<key>smiley_61</key>
	<string>饭</string>
	<key>smiley_62</key>
	<string>猪</string>
	<key>smiley_63</key>
	<string>玫瑰</string>
	<key>smiley_64</key>
	<string>凋谢</string>
	<key>smiley_65</key>
	<string>示爱</string>
	<key>smiley_66</key>
	<string>爱心</string>
	<key>smiley_67</key>
	<string>心碎</string>
	<key>smiley_68</key>
	<string>蛋糕</string>
	<key>smiley_69</key>
	<string>闪电</string>
	<key>smiley_70</key>
	<string>炸弹</string>
	<key>smiley_71</key>
	<string>刀</string>
	<key>smiley_72</key>
	<string>足球</string>
	<key>smiley_73</key>
	<string>瓢虫</string>
	<key>smiley_74</key>
	<string>便便</string>
	<key>smiley_75</key>
	<string>月亮</string>
	<key>smiley_76</key>
	<string>太阳</string>
	<key>smiley_77</key>
	<string>礼物</string>
	<key>smiley_78</key>
	<string>拥抱</string>
	<key>smiley_79</key>
	<string>强</string>
	<key>smiley_80</key>
	<string>弱</string>
	<key>smiley_81</key>
	<string>握手</string>
	<key>smiley_82</key>
	<string>胜利</string>
	<key>smiley_83</key>
	<string>抱拳</string>
	<key>smiley_84</key>
	<string>勾引</string>
	<key>smiley_85</key>
	<string>拳头</string>
	<key>smiley_86</key>
	<string>差劲</string>
	<key>smiley_87</key>
	<string>爱你</string>
	<key>smiley_88</key>
	<string>NO</string>
	<key>smiley_89</key>
	<string>OK</string>
	<key>smiley_90</key>
	<string>爱情</string>
	<key>smiley_91</key>
	<string>飞吻</string>
	<key>smiley_92</key>
	<string>跳跳</string>
	<key>smiley_93</key>
	<string>发抖</string>
	<key>smiley_94</key>
	<string>怄火</string>
	<key>smiley_95</key>
	<string>转圈</string>
	<key>smiley_96</key>
	<string>磕头</string>
	<key>smiley_97</key>
	<string>回头</string>
	<key>smiley_98</key>
	<string>跳绳</string>
	<key>smiley_99</key>
	<string>挥手</string>
	<key>smiley_100</key>
	<string>激动</string>
	<key>smiley_101</key>
	<string>街舞</string>
	<key>smiley_102</key>
	<string>献吻</string>
	<key>smiley_103</key>
	<string>左太极</string>
	<key>smiley_104</key>
	<string>右太极</string>
</dict>
</plist>
